<section class="header">
    <div class="top-panel">
        <div class="logo">{{{ logo }}}</div>
        <div class="menu-toggler" id="menu-toggler">^</div>
    </div>
</section>

<section class="channels-menu-wrapper">{{{ channelsMenu }}}</section>
<section class="content">{{{ content }}}</section>