<section class="header">
    <div class="top-panel">
        <div class="logo">{{{ logo }}}</div>
        <div class="menu-toggler" id="menu-toggler">^</div>
    </div>
</section>

<section class="header">
    <div class="top-panel">
        <div class="logo"></div>
        <div class="top-menu-wrapper">
            <span class="channels-menu-channel-name">{{{ channelName }}}</span>
            <span class="channels-menu-toggler" id="channels-menu-toggler">^</span>
        </div>
    </div>
</section>

<section class="channels-menu-wrapper">{{{ channelsMenu }}}</section>
<section class="content">{{{ content }}}</section>