<ul class="channels-menu">
    {{#each channels}}
        <li class="channels-menu-item">
            <a class="channels-menu-item__link" href="#/{{this.Id}}">{{this.Caption}}</a>
        </li>
    {{/each}}
</ul>