<ul class="channels-menu channels-menu-feed">
    {{#each Channels}}
        <li class="channels-menu-item">
            <a class="channels-menu-item__link" href="/channels/{{ this.Id }}">{{ this.Caption }}</a>
        </li>
    {{/each}}
</ul>