<li class="post-comments-item">
    <img class="post-comment-avatar" src={{ AuthorAvatar }} />
    <span class="post-comment-nickname">{{ AuthorNickname }}:</span>
    <span class="post-comment-Ñreated-on">{{ CreatedOn }}</span>
    <span class="post-comment-content">{{ Content }}</span>
</li>