<li class="post row">
    <div class="post-title">
        <a class="post-title-link">Looking for old DRIVE.NET?</a>
    </div>

    <a class="post-content-link">
        </a><div class="post-content"><a class="post-content-link">Good news! Your old DRIVE.NET has recently moved to </a><a href="https://www.drive2.com/?source=drivenet">DRIVE2.COM</a>. You can go there right now, but, hey, give this brand new DRIVE a try!
Here, we keep track of the trends in the automotive industry, and we report them to you in less than 360 characters. We cover everything from spy shots of the new 911 to new hybrids.
No sign-up is required, no ads and we keep it short. It is the simplest way to keep track of the automotive world. Try it now!</div>
        <div class="post-images-container">
            <div class="post-images post-images-num1">
                <div class="post-images-item">
                    <span>
                        <a class="post-images-item-link" style="background-image:url(https://images.d3-x.net/gwIVa2FwYym5YEDxPQPdWiZWr0U=/700x394/post/FT5oB_XWNSCZ6mHMNnymyIAK0AUB.jpg)">
                            <img src="https://images.d3-x.net/gwIVa2FwYym5YEDxPQPdWiZWr0U=/700x394/post/FT5oB_XWNSCZ6mHMNnymyIAK0AUB.jpg"/>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    <hr class="post-delimiter clearfix">
</li>