{{! now used /pages/posts/voting function from http://d3-x.net/ }}
<div class="post-voting">
    <div class="post-voting-header">{{ Header }}</div>
    {{#each Options}}
    <div class="post-voting-option post-voting-option-max">
        <div class="post-voting-bar" style="width: 37.5%;"></div>
        <div class="post-voting-body">
            <span class="post-voting-num">1</span>
            <span class="post-voting-percent">37.5% (15)</span>
            <span class="post-voting-caption">Porsche</span>
        </div>
    </div>
    {{/each}}
</div>