<div class="social-buttons">
    <div class="likely{{#unless IsSinglePost}} likely--feed{{/unless}}{{#if IsSinglePost}} likely--drive{{/if}}">
        <div class="twitter">{{#if IsSinglePost}}Tweet{{/if}}</div>
        <div class="facebook">{{#if IsSinglePost}}Share{{/if}}</div>
        <div class="gplus">{{#if IsSinglePost}}+1{{/if}}</div>
        <div class="pinterest">{{#if IsSinglePost}}Pin{{/if}}</div>
    </div>
</div>