.channels-menu-wrapper {
    position: fixed;
    top: -423px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
}

.channels-menu {
    margin: 0 auto;
    background-color: #cd002e;
    margin-left: 20px;
    margin-right: 20px;
    overflow: scroll;
    height: 430px;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.opened {
    top: 0px;
    -webkit-transform: translate(0, 471px);
    -moz-transition: translate(0, 471px);
    -o-transition: translate(0, 471px);
    transition: translate(0, 471px);
}

.channels-menu li {
    list-style-type: none;
    text-align: center;
    margin: 20px 0 20px 0;
}

.channels-menu li a {
    color: #fff;
    text-decoration: none;
    font: 20px "HelveticaNeue-Light",Helvetica Neue Light,Helvetica,Arial,sans-serif;
}

@media screen and (max-width: 800px) {
    .channels-menu-wrapper {
        width: 100%;
    }
    .channels-menu {
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .channels-menu li a {
        font-size: 1pc;
    }
}

@media screen and (max-width: 480px) {
    .channels-menu li a {
        font-size: 9pt;
    }
}

@media screen and (max-width: 350px) {
    .channels-menu li a {
        font-size: 1pc;
    }
}