.channels-menu-wrapper {
    margin: 0 auto;
    margin-top: 86px;
}

.channels-menu {
    margin: 0 auto;
    background-color: #cd002e;
    width: 600px;
    overflow: scroll;
    height: 385px;
    -webkit-transition: 300ms ease-in-out;
/*    -moz-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;*/
}

.opened {
    -webkit-transform: translate(0, 385px);
}

.channels-menu li {
    list-style-type: none;
    text-align: center;
    margin: 20px 0 20px 0;
}

.channels-menu li a {
    color: #fff;
    text-decoration: none;
}