body {
    margin: 0 auto;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 49px;
    background-color: red;
}

.top-panel {
    width: 60%;
    margin: 0 auto;
    background-color: blue;
}

.logo {
    position: absolute;
    height: 100px;
}

.channels-menu-toggler {
    margin-top: 20px;
    margin-left: 350px;
    cursor: pointer;
    color: #fff;
}

.top-menu-wrapper {
    position: absolute;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.post {
    margin-left: 20px;
    margin-right: 20px;
}

.post-delimiter {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post-content {
    text-align: justify;
}

.channels-menu-wrapper {
    position: fixed;
    top: 49px;
    z-index: 99;
    width: 100%;
}

.channels-menu {
    background-color: red;
    width: 60%;
    margin: 0 auto;
    /*background : url('assets/images/menu-mobile.jpg');*/

    /*overflow: hidden;*/
    overflow: scroll;
    height: 0;
    -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
}

.opened {
    height: 350px;
}

.channels-menu li {
    list-style-type: none;
    text-align: center;
}

/*.nav3 ul > li:hover .channels-menu li {
  height: 36px;
}*/

.channels-menu li a {
    color: #fff;
}