

ul.top-menu-wrapper {
    float: right;
    display: inline-block;
    margin-top: 26px;
}

ul.top-menu-wrapper li { 
    display: inline; 
}

/*.channels-menu-toggler {
    margin-right: 80px;
    cursor: pointer;
    color: #fff;
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg)
}*/

.toggler-opened {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.content {
    width: 600px;
    margin: 0 auto;
    padding-top: 72px;
}

.post {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-delimiter {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 30px;

}

.post-content {
    text-align: justify;
}

a.post-content-link {
    text-align: justify;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font: 16px/1.5 "HelveticaNeue",Helvetica Neue,Helvetica,Arial,sans-serif;
}

a.post-title-link {
    color: #000;
    text-decoration: none;
    font: 24px/1.5 "HelveticaNeue",Helvetica Neue,Helvetica,Arial,sans-serif;
}

a.post-title-correction {
    font: 26px/1.5 "HelveticaNeue",Helvetica Neue,Helvetica,Arial,sans-serif;
}

a.post-images-item-link {
    background-color: #808080;
}

.post-comments-wrapper {
    margin-bottom: 20px;
}

.post-comments-item {
    font: 20px/1.5 "HelveticaNeue-Light",Helvetica Neue Light,Helvetica,Arial,sans-serif;
}

.post-comment-avatar {
    width: 30px;
    height: 30px;
    background-color: #808080;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post-comment-details {
    font-size: 12px;
    line-height: 8px;
    color: #999;
}

.post-comment-content {
    font: 16px/1.5 "HelveticaNeue",Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 30px;
}

.post-content-correction {
    font: 20px/1.5 "HelveticaNeue-Light",Helvetica Neue Light,Helvetica,Arial,sans-serif;
}

.channel-reference-delimiter {
    padding: 0 10px 0 10px;
    color: #999;
}

a.channel-reference {
    font-size: 12px;
    color: #999;
    text-decoration: none;
    font: 16px/1.5 "HelveticaNeue",Helvetica Neue,Helvetica,Arial,sans-serif;
}

.channels-menu-channel-name-wrapper {
    
}

.channels-menu-channel-name {
    color: #fff;
}

.get-free-app-wrapper {
    border-radius: 25px;
    border: 1px solid #fff;
}

.content-preloader {
    margin-left: 288px;
}

.loader {
    padding-bottom: 20px;
}

.clearfix {
    clear: both;
}

.likely,.likely__widget{display:inline-block;padding:0;word-spacing:0!important;text-indent:0!important;list-style:none!important;font-weight:400;font-family:sans-serif;font-size:inherit}.likely__widget{margin:0}.likely{opacity:0}.likely_visible{opacity:1;-webkit-transition:opacity .1s ease-in;transition:opacity .1s ease-in}.likely>*{display:inline-block;visibility:hidden}.likely_visible>*{visibility:inherit}.likely__widget{display:inline-block;position:relative;white-space:nowrap}.likely__button,.likely__counter{text-decoration:none;text-rendering:optimizeLegibility;display:inline-block;margin:0;outline:0}.likely__button{position:relative;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.likely__counter{display:none;position:relative;font-weight:400}.likely_ready .likely__counter{display:inline-block}.likely_ready .likely__counter_empty{display:none}.likely__button,.likely__counter,.likely__icon,.likely__widget{vertical-align:top}.likely__widget{-webkit-transition:background .33s ease-out,color .33s ease-out,fill .33s ease-out;transition:background .33s ease-out,color .33s ease-out,fill .33s ease-out;line-height:inherit}.likely__widget:active,.likely__widget:focus,.likely__widget:hover{-webkit-transition:none;transition:none;cursor:pointer}.likely__icon{position:relative;text-align:left;display:inline-block}.likely svg{position:absolute}.likely__button,.likely__counter{line-height:inherit;cursor:inherit}.likely__button:empty{display:none}.likely__counter{text-align:center}.likely .likely__widget{color:#000;background:#ececec;background:hsla(0,0%,91%,.8)}.likely .likely__counter{background-size:1px 1px;background-repeat:repeat-y;background-image:-webkit-linear-gradient(left,rgba(0,0,0,.2) 0,transparent .5px,transparent 100%);background-image:linear-gradient(to right,rgba(0,0,0,.2) 0,transparent .5px,transparent 100%)}.likely__widget_facebook{fill:#425497}.likely__widget_facebook:active,.likely__widget_facebook:focus,.likely__widget_facebook:hover{background:rgba(207,212,229,.8)}.likely__widget_twitter{fill:#00b7ec}.likely__widget_twitter:active,.likely__widget_twitter:focus,.likely__widget_twitter:hover{background:rgba(191,237,250,.8)}.likely__widget_gplus{fill:#dd4241}.likely__widget_gplus:active,.likely__widget_gplus:focus,.likely__widget_gplus:hover{background:hsla(0,68%,89%,.8)}.likely__widget:first-child{margin-left:0}.likely__widget:last-child{margin-right:0}.emoji{height:1em;width:1em;margin:0 .05em 0 .1em;vertical-align:-.1em}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}img{border:0}hr{box-sizing:content-box;height:0}a{text-decoration:none}a,a:hover{color:#000}a:hover{text-decoration:underline}html{color:#000;background:#fff;font:20px/1.5 "HelveticaNeue-Light",Helvetica Neue Light,Helvetica,Arial,sans-serif}hr{display:block;clear:both;margin:40px 0;height:0;border:0;border-top:1px solid #ccc}.u-header{position:relative;margin:0 0 30px}.u-container{max-width:60pc;margin:0 auto;padding:0 20px;box-sizing:border-box}.u-group:after,.u-group:before{content:" ";display:table}.u-group:after{clear:both}.u-nobr{white-space:nowrap}.logo{float:left;width:171px;height:40.014px;margin-left:-4px}.logo img{width:100%;height:100%}.button{display:inline-block;padding-left:24px;padding-right:24px;font-size:18px;line-height:2pc;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;border:2px solid #fff;border-radius:20px;background:transparent;color:#fff}.button:hover{color:#fff;text-decoration:none;background:hsla(0,0%,100%,.2)}.image{float:left;margin:0;width:50%;line-height:0;box-sizing:border-box}.image__container{position:relative;display:block;width:100%;padding:0 0 56.25%}.image__img{position:absolute;top:0;right:20px;bottom:20px;left:0;background:50% 50% no-repeat;background-size:cover;border-radius:3px}.image img{display:none}.images{margin:0 -20px 0 0}.images--halfsize{width:50%}.images--num1 .image{width:100%}.images--num3 .image:first-child .image__container,.images--num5 .image:first-child .image__container{padding-bottom:112.4%}.video{position:relative;display:block;width:100%;margin:0;padding:0 0 56.25%;border-radius:3px;overflow:hidden}.video__embed{position:absolute;top:0;left:0}.avatar,.video__embed{width:100%;height:100%}.avatar{display:block;margin:0;line-height:0;background:#999;border-radius:3px;overflow:hidden}.avatar img{width:100%;height:100%}.voting__header{margin:0 0 10px;font-size:23.4px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400}.voting-option{height:50px;margin:0 0 20px;border:1px solid #ccc;border-radius:50px;color:#999;font-size:20px;line-height:50px;overflow:hidden}.voting-option__bar{height:50px;background:#e8e8e8}.voting-option__body{margin:-50px 0 0;height:50px}.voting-option__num{float:left;width:1.4em;padding:0 .5em;text-align:right}.voting-option__num:after{content:'.'}.voting-option__caption{display:block;margin:0 9.5em 0 2.4em;padding:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.voting-option__percent{float:right;width:8.5em;padding:0 .8em;text-align:right;color:#ccc}.voting-option.is-top .voting-option__caption,.voting-option.is-top .voting-option__num{color:#000}.voting-option--quiz .voting-option__bar{background:#f0e8e6}.voting-option--quiz .voting-option__caption,.voting-option--quiz .voting-option__num{color:#ca0a33}.voting-option--quiz.is-correct .voting-option__bar{background:#e6f0e7}.voting-option--quiz.is-correct .voting-option__caption,.voting-option--quiz.is-correct .voting-option__num{color:#060}.header{padding:30px 0;background:#cd002e;line-height:0}.app-button{float:right;padding-top:2px}.post{margin:0 0 30px}.post__body{margin:0 0 -20px}.post__title{margin:0 0 10px;font-size:26px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:400}.post__content{margin:0 0 30px}.post__images,.post__source,.post__video{margin:0 0 20px}.post__source,.post__video{clear:left}.post__source{text-align:right;font-size:15px;color:#999}.post__source a{color:#999}.comment__avatar{float:left;width:40px;height:40px;marign:0 0 20px}.comment__body{margin:0 0 20px 50px}.comment__meta{font-size:17.5px}.comment__author{margin-right:20px;color:#999;line-height:14px}.comment__author,.comment__timestamp{display:inline;vertical-align:baseline}.comment__timestamp{margin:0;padding:0;color:#ccc;font-size:15px;line-height:17.5px}.comment__images{margin:0 0 -10px;padding:5px 0 0;overflow:hidden}.social-buttons{text-align:center;line-height:0}.error-message{font:14px/1.4 Menlo,Monaco,Consolas,Courier New,monospace;white-space:pre-wrap;word-wrap:break-word}.likely--drive{font-size:18px;line-height:28px;margin-bottom:-18px}.likely--drive .likely__widget{border-radius:4px;height:2pc;margin:0 9px 18px}.likely--drive .likely__icon{width:2pc;height:2pc}.likely--drive .likely__button{padding:2px 6px 2px 0}.likely--drive .likely__counter{padding:2px 6px}.likely--drive svg{left:4px;top:4px;width:24px;height:24px}@media (max-width:960px){hr{margin:40px -20px}}@media (max-width:640px){html{font:18px/1.5 "HelveticaNeue-Light",Helvetica Neue Light,Helvetica,Arial,sans-serif}hr{margin:28px -20px}.u-header{margin:0 0 20px}.logo{height:31.941px;width:136.5px}.button{line-height:26px;font-size:1pc;padding-right:20px;padding-left:20px}.image__img{bottom:10px;right:10px}.images{margin:0 -10px 0 0}.images--halfsize{width:75%}.voting__header{font-size:21.6px;margin:0 0 7px}.voting-option{font-size:18px;margin:0 0 14px}.header{padding:20px 0}.app-button{padding-top:1px}.post{margin:0 0 20px}.post__body{margin:0 0 -14px}.post__title{font-size:24px;margin:0 0 7px}.post__content{margin:0 0 20px}.post__images,.post__source,.post__video{margin:0 0 14px}.post__source{font-size:13.5px}.comment__avatar{marign:0 0 14px}.comment__body{margin:0 0 14px 47px}.comment__meta{font-size:15.75px}.comment__author{margin-right:14px}.comment__timestamp{line-height:15.75px;font-size:13.5px}.comment__images{padding:3.5px 0 0;margin:0 0 -7px}.likely--drive{margin-bottom:-14px;line-height:20px;font-size:14px}.likely--drive .likely__widget{margin:0 7px 14px;height:22px;border-radius:3px}.likely--drive .likely__icon{height:22px;width:22px}.likely--drive .likely__button{padding:1px 4px 1px 0}.likely--drive .likely__counter{padding:1px 4px}.likely--drive svg{height:1pc;width:1pc;top:3px;left:3px}}@media (max-width:420px){html{font:15px/1.5 "HelveticaNeue-Light",Helvetica Neue Light,Helvetica,Arial,sans-serif}hr{margin:20px -20px}.u-header{margin:0 0 15px}.logo{height:21.996px;width:94px}.button{border:1px solid #fff;line-height:18px;font-size:9pt;padding-right:1pc;padding-left:1pc}.image__img{bottom:5px;right:5px}.images{margin:0 -5px 0 0}.images--halfsize{width:100%}.voting__header{font-size:15.3px;margin:0 0 5px}.voting-option{font-size:15px;margin:0 0 10px}.header{padding:15px 0}.app-button{padding-top:1px}.post{margin:0 0 15px}.post__body{margin:0 0 -10px}.post__title{font-size:17px;margin:0 0 5px}.post__content{margin:0 0 15px}.post__images,.post__source,.post__video{margin:0 0 10px}.post__source{font-size:11.25px}.comment__avatar{marign:0 0 10px}.comment__body{margin:0 0 10px 45px}.comment__meta{font-size:13.125px}.comment__author{margin-right:10px}.comment__timestamp{line-height:13.125px;font-size:11.25px}.comment__images{padding:2.5px 0 0;margin:0 0 -5px}.likely--drive{margin-bottom:-12px;line-height:14px;font-size:9pt}.likely--drive .likely__widget{margin:0 6px 12px;height:18px;border-radius:2px}.likely--drive .likely__icon{height:18px;width:18px}.likely--drive .likely__button{padding:2px 3px 2px 0}.likely--drive .likely__counter{padding:2px 3px}.likely--drive svg{height:9pt;width:9pt;top:3px;left:3px}}@media (max-width:285px){.logo{float:none;margin:0 auto 10px}.app-button{float:none;text-align:center}}

.likely--drive {
}