.header {
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 100;
    background-color: #cd002e;
    margin-left:auto;
    margin-right:auto;
}

.top-panel {
    margin: 0 auto;
    background-color: #cd002e;
    max-width: 600px;
    min-height: 72px;
    list-style: none;
    padding: 0 0.8rem;
}

.top-menu-item {
    height: 72px;
    display: inline-block;
}

.top-menu-item-left {
    width: 25%;
    background-color: #cd002e;
    float: left;
}

.top-menu-item-center {
    position: relative;
    width: 50%;
    background-color: #cd002e;
}

.top-menu-item-right {
    width: 25%;
    background-color: #cd002e;
    float: right;
}

.menu-trigger {
    width: 100%;
    text-align: center;
    margin-top: 22px;
}

a.menu-trigger-link {
    color: #fff;
    text-decoration: none;
    font: 20px "HelveticaNeue-Light", Helvetica Neue Light, Helvetica, Arial, sans-serif;
}

a.logo {
}

.logo__image {
    margin-top: 18px;
    margin-left: -6px;
    width: 152px;
    height: 35px;
}

.toggler-sign {
    display: inline-block;
    width: 14px;
    transition: transform .25s ease-out 0s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.toggler-sign-opened {
    display: inline-block;
    width: 14px;
    transition: transform .25s ease-out 0s;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.get-free-app-wrapper {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 30px;
}

.get-free-app {
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
}

.get-free-app:hover {
    text-decoration: none;
}

.app-button {
    float: right;
    padding-top: 2px;
}

.get-free-app-button {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 2pc;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 20px;
    background: transparent;
    color: #fff;
}

/* TODO: not in header css? */
/* TODO: phone screen width? */
.post-page-wide-correction {
    max-width: 800px;
}

.post-page-narrow-correction {
    max-width: 600px;
}

.notification {
    width: 100%;
    height: 36px;
    top: 72px;
    position: fixed;
    z-index: 4;
    background-color: #e8e8e8;
    text-align: left;
    font: 14px/1.5 "HelveticaNeue",Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-left:auto;
    margin-right:auto;
    display: none;
}

.notification-message {
    margin: 0 auto;
    max-width: 600px;
}

.notification p {
    margin-top: 5px;
}

a.notification-link {
    color: #000;
}

.notification-close-button {
    position: absolute;
    right: 20px;
    top: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .post-page-width-correction {
        width: auto;
    }

    .top-panel {
        display: flex;
        align-items: center;
    }

    .top-menu-item {
        flex: 1;
        width: auto;
        height: auto;
    }

    .menu-trigger {
        margin: 0;
    }

    .header {
        width: 100%;
    }

    .logo {
        margin: 0;
        height: 32px;
        width: 137px;
    }

    .app-button {
        padding: 0;
    }

    .get-free-app-button {
        margin: 0;
        line-height: 26px;
        font-size: 1pc;
        padding-right: 20px;
        padding-left: 20px;
    }

    a.menu-trigger-link {
        font-size: 1pc;
        line-height: 26px;
    }

    .toggler-sign {
        width: 12px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        height: 22px;
        width: 94px;
    }

    .get-free-app-button {
        border: 1px solid #fff;
        line-height: 18px;
        font-size: 9pt;
        padding-right: 1pc;
        padding-left: 1pc;
    }

    a.menu-trigger-link {
        font-size: 9pt;
        line-height: 18px;
    }

    .toggler-sign {
        width: 10px;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        height: 32px;
        width: 137px;
    }

    a.menu-trigger-link {
        font-size: 1pc;
        line-height: 26px;
    }

    .top-panel {
        flex-wrap: wrap;
    }

    .top-menu-item-left {
        order: 1;
        flex-basis: 50%;
    }

    .top-menu-item-center {
        order: 3;
        flex-basis: 100%;
    }

    .top-menu-item-right {
        order: 2;
        flex-basis: 50%;
    }

    .toggler-sign {
        width: 12px;
    }
}