.header{
    width: 100%;
    height: 86px;
    position: fixed;
    z-index: 100;
    background-color: #cd002e;
}

.center{
    margin: 0 auto;
    background-color: #cd002e;
    width: 600px;
    height: 86px;
    list-style: none;
}

.top-menu-item{
    height: 86px;
    display: inline-block;
}

.top-menu-item-left{
    width:25%;
    background-color: #cd002e;
    float: left;
}

.top-menu-item-center{
    position: relative;
    width:50%;
    background-color: #cd002e;
}

.top-menu-item-right{
    width:25%;
    background-color: #cd002e;
    float: right;
}

.menu-trigger{
    width: 100%;
    height: 86px;
    text-align: center;
    margin-top: 30px;
}

a.menu-trigger-link{
    color: #fff;
    text-decoration: none;
}

.logo-wrapper{
    height: 80px;
}

#logo{
    cursor: pointer;
}

.get-free-app-wrapper{
    width: 100%;
    border-radius: 25px;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 30px;
}

.get-free-app{
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
}