.header{
    width: 100%;
    height: 86px;
    position: fixed;
    z-index: 100;
    background-color: #cd002e;
}

.top-panel{
    margin: 0 auto;
    background-color: #cd002e;
    width: 600px;
    height: 86px;
    list-style: none;
}

.top-menu-item{
    height: 86px;
    display: inline-block;
}

.top-menu-item-left{
    width:25%;
    background-color: #cd002e;
    float: left;
}

.top-menu-item-center{
    position: relative;
    width:50%;
    background-color: #cd002e;
}

.top-menu-item-right{
    width:25%;
    background-color: #cd002e;
    float: right;
}

.menu-trigger{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

a.menu-trigger-link{
    color: #fff;
    text-decoration: none;
}

.logo-wrapper{
    width: 150px;
    height: 80px;
}

#logo{
    cursor: pointer;
}

.toggler-sign:after {
    content:"^";
    display: inline-block;
    transition: transform .25s ease-out 0s;
    -webkit-transform: scale(1.5,1.0) rotate(0deg);
    -moz-transform: scale(1.5,1.0) rotate(0deg);
    -o-transform: scale(1.5,1.0) rotate(0deg);
    -ms-transform: scale(1.5,1.0) rotate(0deg);
    transform: scale(1.5,1.0) rotate(0deg);
}

.toggler-sign-opened:after{
    content:"^";
    display: inline-block;
    transition: transform .25s ease-out 0s;
    -webkit-transform: scale(1.5,1.0) rotate(180deg);
    -moz-transform: scale(1.5,1.0) rotate(180deg);
    -o-transform: scale(1.5,1.0) rotate(180deg);
    -ms-transform: scale(1.5,1.0) rotate(180deg);
    transform: scale(1.5,1.0) rotate(180deg);
}

.get-free-app-wrapper{
    width: 100%;
    border-radius: 25px;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 30px;
}

.get-free-app{
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
}

.get-free-app:hover{
    text-decoration: none;
}


/* TODO: not in header css? */
/* TODO: phone screen width? */
.post-page-width-correction {
    width: 800px;
}