.menu-icon { 
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -8px -8px 0 0;
    width: 16px;
    height: 16px;
    background-image: url(_include/img/menu-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transition: -webkit-transform .25s ease-out 0s;
    transition:transform .25s ease-out 0s;
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg)
}

.menu-nav.open .menu-icon {
    background-position: 0 -16px;
    -webkit-transition: -webkit-transform .25s ease-out 0s;
    transition:transform .25s ease-out 0s;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.menu-nav {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #353338;
    background: #252328;
    z-index: 99;
    -webkit-transition: background .215s ease-in-out 0s,color .215s ease-in-out 0s;
    transition: background .215s ease-in-out 0s,color .215s ease-in-out 0s;
}

#menu-pr ul li {
    -webkit-transform: translateY(-270px);
    -ms-transform: translateY(-270px);
    transform: translateY(-270px);
    -webkit-transition: -webkit-transform .379s ease-in-out 0s;
    /* transition: transform .379s ease-in-out 0s; */
}

#menu-pr.animate ul li {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.no-svg .menu-nav .menu-icon{background-image:url(_include/img/menu-mobile.png)}#menu-pr ul{list-style:none;margin:0;padding:0}#menu-pr ul li{-webkit-transform:translateY(-270px);-ms-transform:translateY(-270px);transform:translateY(-270px);-webkit-transition:-webkit-transform .379s ease-in-out 0s;transition:transform .379s ease-in-out 0s}#menu-pr.animate ul li{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px)}#menu-pr ul li a{position:relative;display:block;width:60px;height:60px;background:#252328;border-bottom:1px solid #353338;z-index:98;text-indent:-9999px;-webkit-transition:background .25s ease-out 0s;transition:background .25s ease-out 0s}#menu-pr ul li a:hover{background-color:#EA504E}#menu-pr ul li a i{left:50%;margin:-8px 0 0 -8px;position:absolute;text-indent:0;top:50%;width:16px;height:16px;background-image:url(_include/img/sprite-menu.svg);background-repeat:no-repeat}.no-svg #menu-pr ul li a i{background-image:url(_include/img/sprite-menu.png)}#menu-pr ul li a i.contact{background-position:0 0}#menu-pr ul li a i.blog{background-position:0 -16px}